@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .progressBar {
    @apply h-1 appearance-none border-none bg-slate-400;

    &:hover {
      @apply cursor-pointer;
      &::-moz-range-progress {
        @apply bg-green-500;
      }
      &::-moz-range-thumb {
        @apply opacity-100;
      }
    }

    &::-moz-range-thumb {
      @apply size-4 appearance-none border-none opacity-0;
    }

    &::-moz-range-progress {
      @apply bg-white;
    }
  }

  @keyframes quiet {
    25% {
      transform: scaleY(0.6);
    }
    50% {
      transform: scaleY(0.4);
    }
    75% {
      transform: scaleY(0.8);
    }
  }

  @keyframes normal {
    25% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.4);
    }
    75% {
      transform: scaleY(0.6);
    }
  }
  @keyframes loud {
    25% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.4);
    }
    75% {
      transform: scaleY(1.2);
    }
  }

  .soundAnimation {
    display: flex;
    justify-content: space-between;
    height: 25px;
    --boxSize: 2px;
    --gutter: 2px;
    width: calc((var(--boxSize) + var(--gutter)) * 5);

    .box {
      transform: scaleY(0.4);
      height: 100%;
      width: var(--boxSize);
      @apply bg-green-500;
      animation-duration: 1.2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      border-radius: 8px;
    }
    .box1 {
      animation-name: quiet;
    }

    .box2 {
      animation-name: normal;
    }

    .box3 {
      animation-name: quiet;
    }

    .box4 {
      animation-name: loud;
    }

    .box5 {
      animation-name: quiet;
    }
  }
}
